{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
        {{ category.description|truncatewords:155 }}
     {% else %}
        welcome to City Fresh...........
     {% endif %}
{% endblock %}
{% block title %}
     {% if category %}
         {{category.name}} - City Fresh
     {% else %}
         see our fresh
     {% endif %}
{% endblock %}
{% block content %}
    {% if category %}
<div>
    <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:allProdCat' %}">Our Products</a></p>
            </div>
    </div>
</div>
{% endif %}
<div class="mx-auto">
    {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
    {% else %}
<div><a href="{% url 'shop:allProdCat' %}">
    <img src="{% static 'img/banner.png' %}" alt="our products" width="1300px" height="210px">
</a>
</div><br>
<div>
    <h1 class="text-center my_title">Our product</h1>
    <p class="text-justify">allows people to buy and sell physical goods, services, and digital products over the internet rather than at a brick-and-mortar location. Through an e-commerce website, a business can process orders, accept payments, manage shipping and logistics, and provide customer service.</p>
</div>
{% endif %}
<div class="container">
    <div class="row mx-auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
             <div class="card text-center" style="min-width:18rem;">
                 <a href="{{product.get_url}}" > <img src="{{product.image.url}}" alt="{{product.name}}" style="width:100%" height="250px"></a>

             <div class="card-body">
                 <h4>
                    {{product.name}}
                 </h4>
                 <p>{{product.price}}</p>
             </div>
             </div>
        </div>
        {% endfor %}
    </div>
     <div class="mx-auto">
                {% if products.paginator.num_pages > 1 %}
                <hr>
                <div class="text-center">
                      {% for pg in products.paginator.page_range %}
                      <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} activate {% endif %}">{{pg}}</a>
                      {% endfor %}

                </div>
                {% endif %}
     </div>
    <br>


</div>
{% endblock %}






















