{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        we have fresh
{% endblock %}
{% block title %}
     search
{% endblock %}
{% block content %}
<div>
        <p class="text-center my_search_text">you have search for:<b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
        {% for product in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
             <div class="card text-center" style="min-width:10rem;">
                 <a href="{{product.get.url}}"> <img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"width="300px" height="150px"></a>
    </div>
     <div class="card-body">
         <h4>
             {{product.name}}
         </h4>
         <p>{{product.price}}</p>
     </div></div>

{% empty %}
<div class="row mx-auto">
    <p class="text-center my_search_text">0 results Found</p>
</div>
{% endfor %}
    </div></div>
{% endblock %}